extends ../../layouts/default
include ../../components/alert
block main

    h1(class='mb-4') Chỉnh sửa sản phẩm
    form(action=`${prefixAdmin}/products/edit/:id?_method=PATCH`
        id = "form-create-product"
        method="POST",
        enctype="multipart/form-data"
    )
        div(class="from-group")
            label(for="title") Tên sản phẩm
            input(type="text" class="form-control" id="title" name="title" value=product.title)

        div(class="from-group")
            label(for="desc") Mô tả
            textarea(class="form-control" id="desc" name="description" rows="5" value=product.description) #{product.description}

        div(class="from-group")
            label(for="price") Giá
            input(type="number" class="form-control" id="price" name="price" min=0 step = 0.01 required value=product.price)

        div(class="from-group")
            label(for="discount") % Giảm giá
            input(type="number" class="form-control" id="discount" name="discountPercentage" min=0 step = 0.01 value=product.discountPercentage)

        div(class="from-group")
            label(for="stock") Số lượng
            input(type="number" class="form-control" id="stock" name="stock" value=product.stock)

        div(class="from-group" upload-image)
            label(for="thumbnail") Hình ảnh
            input(type="file" class="form-control-file" id="thumbnail" name="thumbnail" accept="image/*" upload-image-input)
            img(src=product.thumbnail upload-image-preview class="mt-2")

        //div(class="from-group")
        //    label(for="category") Danh mục
        //    select(class="form-control" id="category" name="categoryId")
        //        each category in categories
        //            option(value=category._id)= category.title

        div(class='form-group form-check form-check-inline')
            input(type='radio' class='form-check-input' id='statusActive' name='status' value='Active' checked = product.status === 'Active' ? 'checked' : '')
            label(for='statusActive' class='form-check-label') Hoạt động

        div(class='form-group form-check form-check-inline')
            input(type='radio' class='form-check-input' id='statusInactive' name='status' value='Inactive' checked = product.status === 'Inactive' ? 'checked' : '')
            label(for='statusInactive' class='form-check-label') Không hoạt động
        div(class="form-group")
            input(type='hidden' name='id' value=product._id)

        div(class="from-group")
            button(type="submit" class="btn btn-primary") Cập nhật


