extends ../../layouts/default
include  ../../components/filterStatus
include ../../components/search
include ../../components/pagination
include ../../components/form-change-multi
include ../../components/alert
include ../../components/sort

block main


    +alert-success(3000)
    h3 Danh sách sản phẩm
    .card.mb-3
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .row
                .col-6
                    +filterStatus(filterStatus)
                .col-4
                    +search(keyword)
                .col-4
                    +sort()

    .card.mb-3
        .card-header Thay đổi trạng thái
            .card-body
                .row
                    .col-4
                        +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                    .col-4
                        a.btn.btn-outline-success(href=`${prefixAdmin}/products/create`) Thêm mới

                table(class=`table table-hover table-sm table-striped` checkbox-multi col-table-name)
                    thead
                        tr
                            th
                                input(type="checkbox" name="check-all")
                            th STT
                            th Hình ảnh
                            th Tên sản phẩm
                            th Giá
                            th Trạng thái
                            th Hành động

                    tbody
                        each product, index in products
                            tr
                                td
                                    input(type="checkbox" name="id" value=`${product._id}`)
                                td= index + 1
                                td
                                    img(src=product.thumbnail, alt=product.title, width=60 m)

                                td= product.title
                                td= product.price + `$`
                                td
                                    if(product.status === 'Active')
                                        a(class="badge badge-success"
                                            data-id = product._id
                                            data-status = product.status
                                            href = `javascript:;`
                                            button-change-status
                                        ) Hoạt động
                                    else
                                        a(class="badge badge-danger"
                                            href = `javascript:;`
                                            data-id = product._id
                                            data-status = product.status
                                            button-change-status
                                        ) Ngừng hoạt động
                                td
                                    a.btn.btn-info.btn-sm.ml-1(href=`/admin/products/detail/${product._id}`) Xem
                                    a.btn.btn-warning.btn-sm.ml-1(href=`/admin/products/edit/${product._id}`) Sửa
                                    a.btn.btn-danger.btn-sm.ml-1(button-delete data-id = product.id) Xóa


    +pagination(Pagination)

    form(action="" method="POST" id="form-change-status" data-path=`${prefixAdmin}/products/change-status`)
    form(action="" method="POST" id="form-delete" data-path=`${prefixAdmin}/products/delete`)


    script(src='/admin/js/product.js')


