extends ../../layouts/default

block main


    h1(class='mb-4') Thêm mới phân quyền
    form(
        action=`${prefixAdmin}/role/create`
        id="form-create-role"
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tên phân quyền
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder="Nhập tên phân quyền"
                required
            )

        div(class="form-group")
            label(for="description") Mô tả phân quyền
            textarea(
                class="form-control textarea-mce"
                id="description"
                name="description"
                rows="5"
                placeholder="Nhập mô tả phân quyền"
            )

        div(class="form-group mt-3")
            button(type="submit" class="btn btn-primary") Thêm mới
