.sidebar
    .inner-menu
        ul
            li
               h1 Admin
            li
                a(href=`${prefixAdmin}/dashboard` link) Tổng quan
            li
                a(href=`${prefixAdmin}/products` link) Danh sách sản phẩm
            li
                a(href=`${prefixAdmin}/product-category` link) Danh mục sản phẩm
            li
                a(href=`${prefixAdmin}/role` link) Nhóm quyền
            li
                a(href=`${prefixAdmin}/role/permissions` link) Phân quyền
            li
                a(href=`${prefixAdmin}/account` link) Danh sách tài khoản
